# Management/admin user (used for UI and bootstrap)
RABBITMQ_USERNAME=indexer
RABBITMQ_PASSWORD=supersecret

# Allow the web management UI to be accessible
RABBITMQ_MANAGEMENT_ALLOW_WEB_ACCESS=true

# Delayed message exchange plugin (version must match RabbitMQ minor)
RABBITMQ_COMMUNITY_PLUGINS=https://github.com/rabbitmq/rabbitmq-delayed-message-exchange/releases/download/v3.12.0/rabbitmq_delayed_message_exchange-3.12.0.ez

# Enable required plugins: management UI + delayed exchange
RABBITMQ_PLUGINS=rabbitmq_management rabbitmq_delayed_message_exchange
